body{
  background-color: #03d3fc;
  position: inherit;
  align-content: center;
  position: absolute;
  left: 10px
  text-algi
}
.1{
  transform:rotateX(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  text-align: center;
  font-size: 50px;

}
.lll{
  position: absolute;
  right: : 10px;
  color: #000000;
  background-color: #000000;
  caret-color: #000000;
  width: 100px;
  height: 500px;
}
